/* ==================================================================================================================== */
/* Reset HTML */
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
/* ==================================================================================================================== */
/* Background Image */
body{
background-color: black;
}

/* ==================================================================================================================== */
/* Fake Header */
.fakeheader{
    max-height: 50px;
}

/* Header */
.header{
    z-index: 1;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-left: 40px;
    color:white;
    border-bottom: solid 5px #FFCC00;
    background-color: black;
    border-width: 5px;
    white-space: pre;
}

.header-logo{
    overflow: hidden;
    max-height: 30px;
    filter:grayscale(100);
    padding-bottom: 10px;
}

.header-logo:hover{
    overflow: hidden;
    filter:none;
}

.header-menu{
    line-height: 5px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: pre;
    padding-left: 40px;
    padding-bottom: 10px;
    gap: 40px;
    font-family: "Anton", sans-serif;    
}

.header-text{
    color:white;
    font-size: 20px;
    text-decoration: none;
}

.header-text:hover{
    color: #FFCC00;
}

@media (max-width: 560px) {
    .header-text {
        font-size: 12px;
        font-weight: 50;
    }

    .header-logo {
        max-height: 25px;
    }
}

@media (max-width: 460px) {
    .header-text {
        font-size: 12px;
        font-weight: 50;
        line-height: 10px;
    }
}

/* ==================================================================================================================== */
/* 1st Page */
.main-content{
    display:flex;
    flex-wrap: nowrap;
    overflow:hidden;
    justify-content: space-around;
    border-bottom: 5px solid #FFCC00;
    margin-bottom: 10px;
}

/* ==================================================================================================================== */
/* Left Side */
.container-left{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width:650px;
}

.left-content{
    position: relative;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}

.main-logo{
    max-height: 400px;
    max-width: 400px;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 200px;
}

.instagram-logo{
    padding-left: 120px;
    max-width: 490px;
    padding-bottom: 5px;
}

.circle-logo{
    padding-left: 55px;
    width: 550px;
    max-width: 600px;
    padding-bottom: 35px;
}

.media-kit{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    line-height: 100px;
    color:#FFCC00;
    font-family: "Anton", sans-serif; 
    font-size: 130px;
}

.media-kit2{
    line-height: 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 240px;
    padding-bottom: 250px;
    color:#FFCC00;
    font-family: "Anton", sans-serif; 
    font-size: 130px;
}

.name{
    height: auto;
    padding-top: 150px;
    padding-left: 105px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.name-h1{
    line-height: 400px;
    color:#FFCC00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 550px;
}

/* Hidding .name if its smaller than 1450px for better experience in mobile */
@media only screen and (max-width: 1430px) {
    .name {
        display: none;
    }
}

@media (max-width:560px) {
    .main-logo{
        max-height: 40%;
        max-width: 40%;
        margin: 0;
        padding: 0px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .instagram-logo{
        max-height: 65%;
        max-width: 65%;
        margin: 0px;
        padding:0px;
        padding-bottom: 10px;
    }

    .circle-logo{
        max-height: 70%;
        max-width: 70%;
        margin: 0;
        padding: 0px;
        padding-bottom: 40px;
    }

    .media-kit {
        font-size: 55px;
        line-height: 0px;
        margin: 0;
        padding:0px;
    }

    .media-kit2{
        font-size: 55px;
        line-height: 105px;
        margin: 0;
        padding:0px;
    }

    .photo-1{
        display:none;
    }
}

/* ==================================================================================================================== */
/* Right Side */
.container-right{
    height:auto;
    width:auto;
}

.photo-1{
    object-fit: cover;
    height:100%;
    width: 100%;
}

/* ==================================================================================================================== */
/* Page 2 */
/* 1st Part */
.page2{
    max-width: 100vh;
}

.title-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;

}

.title-top2{
    padding-top: 50px;
    color:#FFCC00;
    font-family: "Bebas Neue", sans-serif;
    font-size:70px;
    font-weight: 800;
    font-style: bold;
    line-height: 55px;
}

@media (max-width:790px) {
    .title-top2{
        text-align: center;
        line-height: 55px;
        }
    }

@media (max-width:560px) {
    .title-top2{
        align-self: center;
        text-align: center;
        font-size: 50px;
        line-height: 45px;
        }
    }

.instagram-logo2{
    max-height: 250px;
    max-width: 150px;
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-top: 70px;
}

.aboutme{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color:#FFCC00;
    font-family: "Bebas Neue", sans-serif;
    font-size:170px;
    font-weight: 800;
    font-style: bold;
    line-height: 35px;
}

@media (max-width:760px) {
.aboutme{
    text-align: center;
    font-size: 120px;
    line-height: 95px;
    }
}

@media (max-width:560px) {
    .aboutme{
        text-align: center;
        font-size: 120px;
        line-height: 95px;
        }
}

.paragraph{
    max-width: 700px;
    font-family: arial;
    font-weight: 150;
    color:white;
    font-size: 20px;
}

.partners{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.partner-img{
    filter:grayscale(100);
    padding-top: 15px;
    max-height: 50px;
}

.partner-img:hover{
    filter:none;
    transform: scale(1.05);
    padding-top: 15px;
    max-height: 50px;
}

/* 2nd Part */
.part2{
    position: relative;
    display: inline-block;

}

.image-container.statistics {
    display: block;
    width: 100%;
    height: auto;
}

.photo2{
    max-width: 100%;
    padding-bottom: 50px;
}

.statistics{
    padding-left: 25px;
    position: absolute;
    height:auto;
    top:64%;
    color:#FFCC00;
    font-size: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: bold;
}

@media (max-width:1060px) {
    .statistics{
        font-size: 140px;
        top:48%;
        }
}

@media (max-width:860px) {
    .statistics{
        font-size: 120px;
        top:34%;
        }
}
    
@media (max-width:580px) {
    .statistics{
        font-size: 80px;
        top:38%;
        }
}

@media (max-width:460px) {
    .statistics{
        font-size: 60px;
        top:44%;
    }
}

/* 3rd Part */
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info1{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 205px;
}

.followers{
    color: white;
    gap: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: bold;
    line-height: 60px;
}

.range{
    color: white;
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: bold;
}

.colortext{
    color:#FFCC00;
    font-size: 120px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: bold;
}

.colortext:hover{
    transform: scale(1.05);
}

@media (max-width:560px) {
    .followers, .range{
        font-size: 30px;
        line-height: 38px;
    }
}

.container3{
    max-width: 100%;
    padding-top:50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.public{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.colortext2{
    color:#FFCC00;
    font-family: "Bebas Neue", sans-serif;
    font-size:100px;
    font-weight: 800;
    font-style: bold;
}

.textc1{
    color:white;
    font-family: "Bebas Neue", sans-serif;
    font-size:60px;
    font-weight: 800;
    font-style: bold;
}

.iconm{
    max-height: 100px;
}

.iconm:hover{
    transform: scale(1.05);
}

.graph{
    padding-left: 15px;
}

@media (max-width: 340px) {
    .graph {
    height: 30%;
    }
}

.graph:hover{
    transform: scale(1.05);
}

.man, .woman{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.container4{
    max-width: 100%;
    padding-top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    align-items: center;
}

.age{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.agetext{
    color:white;
    font-family: "Bebas Neue", sans-serif;
    font-size:40px;
    font-weight: 800;
    font-style: bold;
}

.ageline{
    border-bottom: 5px solid #FFCC00;
    max-width: 250px;
    min-width: 200px;
}

.agenumber{
    color:white;
    font-family: "Bebas Neue", sans-serif;
    font-size:40px;
    font-weight: 800;
    font-style: bold;
    display: flex;
    flex-direction: column;
}

.graphbar:hover{
    transform: scale(1.05);
}

/* ==================================================================================================================== */
/* Footer */
.footer{
    border-top: solid 5px #FFCC00;
    padding: 5px;
    color:white;
}


